name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
permissions:
  contents: read   # 游녣 habilita que el token pueda leer el repo
  
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    #TENER MUCHO CUIDADO CON LOS ESPACIOS Y SINTAXIS
    #Agregar un nombre al paso lo mas legible posible (name)

    #Paso 1. Lo que hace el Checkout, basicamente es tomar lo que tenemos en el repositorio.
    #Solo dejamos un "-", porque es la instrucci칩n de todo el paso.
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        #Haga una busqueda profunda en historial del commit. Buscar mas informaci칩n en la documentaci칩n de GitHub.  
        fetch-depth: 0 
    #Paso 2. Intentar autentificarnos
    #El comando en consola es docker login -u <user_dockerhub> -p <Token o pwd de dockerhub>
    - name: Docker login
      #Declaramos variables de entorno para que sea mas facil de manipular. Aunque se pueden usar de forma directa los secrets.
      env:
        #<nombre_variable> : <valor_variable>
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      #La "|" (pipeline) siginifica que cada unos de los siguientes comandos es independientes. Se puede correr todo en una linea.  
      #Los echo solo son con fines de practica.
      #Se podr칤an colocar tambi칠n de forma directa los secrets, pero como variables es mas legible el c칩digo.
      #Comando usadp en el curso (si funciona)
      #docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      #Si tu contrase침a tiene caracteres especiales, es m치s seguro usar --password-stdin
      #echo $DOCKER_PASSWORD | docker login -u $DOCKER_USER --password-stdin
      run: |
        echo $DOCKER_PASSWORD | docker login -u $DOCKER_USER --password-stdin

    #Estos comandos se podr칤an haber ejecutado en el paso anterior, pero es mejor tener los pasos separados (manejo de errores)
    - name: Build Docker Image
      run: |
        docker build --tag rohet/docker-graphql:0.0.1 .

    - name: Push Docker Image
      run: |
        docker push rohet/docker-graphql:0.0.1

    
    # - name: Build the Docker image
    #   run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
